.footer__column-link {
    text-decoration: none;
    color: white;
    line-height: 30px;
    font-size: 18px;
    margin: 0;
    padding: 0;
    transition: opacity .8s ease-in-out;
  }

.footer__column-link:hover {
    opacity: 0.5;
  }