*{
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  position: relative;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  border: 1px solid red;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0px;
  z-index: 1;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  border: 1px solid red;
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  position: absolute;
  top: 64px;
  right: 0px;
}

.header__logo_place_header {
  border: 1px solid red;
  width: 183px;
  height: 32px;
  background-image: url(../images/logo_place_header.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
}

.header__title {
  border: 1px solid blue;
  width: 730px;
  position: absolute;
  left:64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  align-self: center;
  margin: 0;
  padding: 0;
}

.header__subtitle {
  border: 1px solid red;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 3;
}

.header__link {
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-image: url(../images/header-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 100px;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18;
  font-weight: normal;
}

.two-columns__main-text {
  border: 1px solid blue;
  width: 80%;
  min-width: 784px;
}

.two-columns__main-text__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__main-text__paragraph_padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.two-columns__main-text__span-accent {
  font-weight: bold;
}

