.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #2f80ed;
    text-decoration: none;
    transition: opacity .8s ease-in-out;
    align-self: flex-start;
}

.khan__buy-link:hover {
    opacity: 0.5;
}